<h2>Test angular cordova application</h2>
<nav>
  <ul>
    <li><a mat-button routerLink="/camera" routerLinkActive="active">Camera</a></li>
    <li><a mat-button routerLink="/data" routerLinkActive="active">Data</a></li>
    <li><a mat-button routerLink="/notify" routerLinkActive="active">Notifications</a></li>
  </ul>
</nav>
<div class="pages">
  <router-outlet></router-outlet>
</div>
Subscribed topics:
<ul>
<ng-container *ngFor="let topicName of subscribedTopics">
  <li>{{topicName}}</li>
</ng-container>

Notification data: {{currentTime | date: 'dd.MM.yyyy hh:mm:ss'}} - {{data}}
</ul>
